.storie img {
  
  width: 300px;
  position: relative;
  left: 20%;
  bottom: 25px;
}

.storie span {
  position: relative;
  text-overflow: ellipsis;
  bottom: 75px;
  color: black;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.storie {
  height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 25px;
  background: rgba(200, 0, 0, .5);
}
.banner {
  width: 300px;
  background-color: white;
  border-radius: 25px;
  /* overflow: hidden;
  border-radius: 25px;
  background: rgba(200, 0, 0, .5); */
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {

}
.red {
  
}